.App {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://wallpapercave.com/wp/wp8166595.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #6a0004;
}

#article-list {
  margin-top: 4em;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-sorter {
  background-color: black;
  color: whitesmoke;
  border-color: #ed2739;
  min-width: 150px;
}

.topic-sorter-box {
  background-color: black;
  color: whitesmoke;
  border-color: #ed2739;
  border: solid;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.2em;
}

.article-card,
.article-page,
.comment-card {
  padding-left: 2.5%;
  align-items: center;

  opacity: 0.9;
  background-blend-mode: color;
  background-color: black;
  line-height: 1.5em;
  height: auto;
  width: 95%;
  color: whitesmoke;
  border-color: #ed2739;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border-style: double;
  border-radius: 5px;
}

#comments-header {
  text-align: center;
  opacity: 0.9;
  background-blend-mode: color;
  background-color: black;
  line-height: 1.5em;
  height: auto;
  width: 95%;
  color: whitesmoke;
  border-color: #ed2739;
  border-style: double;
  border-radius: 5px;
}

#add-comment-title,
#add-comment-box {
  opacity: 0.9;
  background-blend-mode: color;
  background-color: black;

  height: auto;
  width: 90%;
  color: whitesmoke;
  border-color: #ed2739;
  border-style: double;
  border-radius: 5px;
}

.article-card {
  height: 100%;
}

.inner-text {
  text-align: left;
}

nav {
  display: flex;
  justify-content: space-between;
}

.topic-links {
  display: flex;
  flex-direction: column;
}

.header {
  margin: 10px 0 0 0;
  background-blend-mode: color;
  opacity: 0.9;
  width: 95%;
  border-radius: 5px;
  background-color: black;
  color: whitesmoke;
  border-color: #ed2739;
  border-style: double;
  padding: 5px 10px 0 10px;
  z-index: 10;
}

.header-link {
  color: whitesmoke;
  text-decoration: none;
}

.article-title {
  color: whitesmoke;
}

@media (min-width: 640px) {
  .article-card {
    width: 640px;
  }
  .topic-links {
    flex-direction: row;
  }
}
