.App {
  display: flex;
  flex-direction: column;

  background-image: url('https://wallpapercave.com/wp/wp8166595.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #6a0004;
}

#article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-card {
  padding-left: 2.5%;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  opacity: 0.9;
  background-blend-mode: color;
  background-color: #e62636;
  line-height: 1.5em;
  height: auto;
  width: 95%;
  color: black;
  border-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border-style: double;
  border-radius: 5px;
}

.inner-text {
  text-align: left;
}

.header {
  float: left;
  display: block;
  padding: 10px;
  position: fixed;
  background-blend-mode: color;
  background-color: #ed2739;
  width: 25%;
  border-radius: 5px;
  color: #000000;
  border-color: whitesmoke;
  border-style: double;
}

@media (min-width: 640px) {
  .article-card {
    width: 640px;
  }
}
